Removing missing values

In [2]:
import pandas as pd

In [16]:
dataset = pd.read_csv("https://bit.ly/movieusers",sep="|",header=None, names=["user","age","gender","occupation","zip_code"])
dataset.head()

   user  age gender  occupation zip_code
0     1   24      M  technician    85711
1     2   53      F       other    94043
2     3   23      M      writer    32067
3     4   24      M  technician    43537
4     5   33      F       other    15213

In [17]:
cleaned_dataset = dataset.dropna()
cleaned_dataset.head()
cleaned_dataset.shape

(943, 5)

In [18]:
droped_dataset = dataset.dropna(axis=1) # droping columns with atleast one missing value
droped_dataset.head()
droped_dataset.shape

(943, 5)

In [24]:
mean_value = int(dataset['age'].mean())
dataset['age'].fillna(mean_value, inplace=True)  # filling missing values with mean value

C:\Users\Wakeel\AppData\Local\Temp\ipykernel_13028\1876960526.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['age'].fillna(mean_value, inplace=True)  # filling missing values with mean value

removing duplicates

In [35]:
dataset = pd.read_csv("https://bit.ly/imdbratings", header=None,index_col=None)
dataset.head()

,0,1,2,3,4,5
0,star_rating,title,content_rating,genre,duration,actors_list
1,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [ ]:
dataset.columns = ['star_rating','title','content_rating','genre','duration','actors_list']
dataset.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,star_rating,title,content_rating,genre,duration,actors_list
1,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [43]:
cleaned_dataset = dataset['title'].drop_duplicates()  
cleaned_dataset.head()

0                       title
1    The Shawshank Redemption
2               The Godfather
3      The Godfather: Part II
4             The Dark Knight
Name: title, dtype: object

In [45]:
cleaned_dataset = dataset.drop_duplicates(subset=['title','genre'])
cleaned_dataset.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,star_rating,title,content_rating,genre,duration,actors_list
1,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

Text Data Cleaning

In [46]:
cleaned_dataset = dataset['genre','content_rating','title'].str.lower()
cleaned_dataset = dataset['genre','content_rating','title'].str.removeprefix('the')
cleaned_dataset.head()

KeyError: ('genre', 'content_rating', 'title')