In [ ]:
# Predictions on basis of different parameters like age salary, to predict whether a person will buy a product or not
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [4]:
# Creating Data
data = {
    'Name': ['Tom', 'Nick', 'John', 'Tom', 'Nick', 'John'],
    'Age': [20, 21, 19, 20, 21, 19],
    'Salary':[20000, 22000, 25000, 20000, 22000, 25000],
    'Country':['US', 'UK', 'US', 'UK', 'US', 'UK'],
    'Purchases': [1, 0, 1, 0, 1, 0]
}
dataset = pd.DataFrame(data)

In [5]:
dataset

   Name  Age  Salary Country  Purchases
0   Tom   20   20000      US          1
1  Nick   21   22000      UK          0
2  John   19   25000      US          1
3   Tom   20   20000      UK          0
4  Nick   21   22000      US          1
5  John   19   25000      UK          0

In [21]:
X = dataset[['Age', 'Salary']] 
y = dataset[['Purchases']]
model = RandomForestClassifier()

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y,test_size=0.42,random_state=0)

In [24]:
model.fit(X_train, Y_train.values.ravel())
model.predict(X_test)
model.score(X_test, Y_test) * 100

33.33333333333333